.bubble {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #ff705a;
  border-radius: 50%;
  z-index: 1;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
